/* styling the body */
body {
    background-color: #000102;
}

/* wrapper element */
.wrapper {
    width: 100%;
}

/* for the page links */
.page-links {
  width: 100%;
}

/* placement of links */
.navigation {
  margin-right: 10px;
  color: #7C7660;
  font-family: 'Red Hat Display', sans-serif;
}

h3 {
  font-family: 'Red Hat Display', sans-serif;
  color: #7C7660;
  font-size: 20px;
  padding-top: 20px;
  margin: 0;
}

h1 {
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 40px;
    margin: 0;
}

.card {
  padding: 20px;
  box-shadow: 0 4px 8px 0 #7C7660;
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

h4 {
  color: white;
  font-family: 'Red Hat Display', sans-serif;
}

.app-info {
  font-family: 'Red Hat Display', sans-serif;
  color: #7C7660;
}

/* styling for tablet view */
@media only screen and (min-width: 768px) {

  .wrapper {
  width: 100%;
}
}

/* styling for desktop view */
@media only screen and (min-width: 1000px) {

.wrapper {
  width: 100%;
}

nav {
  margin-top: 20px;
  margin-left: 800px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
} 

h3 {
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  color: #7C7660;
  font-size: 20px;
  padding-top: 100px;
  margin: 0;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 40px;
    margin: 0;
}

.line {
    width: 400px;
}


.card {
  padding: 20px;
  box-shadow: 0 4px 8px 0 #7C7660;
  transition: 0.3s;
  float: left;
  width: 40%;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 white;
}

.container {
  padding: 2px 16px;
}

  
}
