/* This makes the background color throughout the pages the same */
body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./Main/assets/imgs/space2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* wrapping content */
.wrapper {
  width: 100%;
}

/* for the page links */
.page-links {
  width: 100%;
}


/* placement of links */
.navigation {
  margin-right: 10px;
  color: #7C7660;
  font-family: 'Red Hat Display', sans-serif;
}

/* customizing hover state of links */
a:hover {
  color: white;
}

/* styling photo on landing page */
#photo {
  border-radius: 50%;
  width: 200px;
  display: block;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}

/* styling name */

h1 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #ebd481;
  text-align: center;
  margin-top: 10px;
  margin: 0;
}

/* styling title */

h2 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 0;
}

/* styling for tablet view */
@media only screen and (min-width: 768px) {

  .wrapper {
  width: 100%;
}
}

/* styling for desktop view */
@media only screen and (min-width: 1000px) {

.wrapper {
  width: 100%;
}

nav {
  margin-top: 20px;
  margin-left: 800px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
} 
  
}
